apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "frontcache.fullname" . }}-grafana-provisioning
  labels:
    {{- include "frontcache.labels" . | nindent 4 }}
data:
  datasources.yaml: |
    apiVersion: 1
    datasources:
      - name: Prometheus
        type: prometheus
        access: proxy
        url: http://{{ include "frontcache.fullname" . }}-prometheus:9090
        isDefault: true
  dashboards.yaml: |
    apiVersion: 1
    providers:
      - name: frontcache
        type: file
        options:
          path: /var/lib/grafana/dashboards
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "frontcache.fullname" . }}-grafana
  labels:
    {{- include "frontcache.labels" . | nindent 4 }}
    app.kubernetes.io/component: grafana
spec:
  replicas: 1
  selector:
    matchLabels:
      {{- include "frontcache.selectorLabels" . | nindent 6 }}
      app.kubernetes.io/component: grafana
  template:
    metadata:
      labels:
        {{- include "frontcache.selectorLabels" . | nindent 8 }}
        app.kubernetes.io/component: grafana
    spec:
      containers:
        - name: grafana
          image: grafana/grafana:latest
          env:
            - name: GF_AUTH_ANONYMOUS_ENABLED
              value: "true"
            - name: GF_AUTH_ANONYMOUS_ORG_ROLE
              value: Admin
            - name: GF_AUTH_DISABLE_LOGIN_FORM
              value: "true"
          ports:
            - name: http
              containerPort: 3000
              protocol: TCP
          volumeMounts:
            - name: datasources
              mountPath: /etc/grafana/provisioning/datasources
            - name: dashboard-provider
              mountPath: /etc/grafana/provisioning/dashboards
            - name: dashboards
              mountPath: /var/lib/grafana/dashboards
      volumes:
        - name: datasources
          configMap:
            name: {{ include "frontcache.fullname" . }}-grafana-provisioning
            items:
              - key: datasources.yaml
                path: datasources.yaml
        - name: dashboard-provider
          configMap:
            name: {{ include "frontcache.fullname" . }}-grafana-provisioning
            items:
              - key: dashboards.yaml
                path: dashboards.yaml
        - name: dashboards
          configMap:
            name: {{ include "frontcache.fullname" . }}-dashboard
---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "frontcache.fullname" . }}-grafana
  labels:
    {{- include "frontcache.labels" . | nindent 4 }}
    app.kubernetes.io/component: grafana
spec:
  type: ClusterIP
  ports:
    - port: 3000
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "frontcache.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: grafana
