apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "frontcache.fullname" . }}-prometheus
  labels:
    {{- include "frontcache.labels" . | nindent 4 }}
data:
  prometheus.yml: |
    global:
      scrape_interval: 10s
    scrape_configs:
      - job_name: otel-collector
        static_configs:
          - targets:
              - {{ include "frontcache.fullname" . }}-otel-collector:8889
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "frontcache.fullname" . }}-prometheus
  labels:
    {{- include "frontcache.labels" . | nindent 4 }}
    app.kubernetes.io/component: prometheus
spec:
  replicas: 1
  selector:
    matchLabels:
      {{- include "frontcache.selectorLabels" . | nindent 6 }}
      app.kubernetes.io/component: prometheus
  template:
    metadata:
      labels:
        {{- include "frontcache.selectorLabels" . | nindent 8 }}
        app.kubernetes.io/component: prometheus
    spec:
      containers:
        - name: prometheus
          image: prom/prometheus:latest
          args:
            - "--config.file=/etc/prometheus/prometheus.yml"
            - "--storage.tsdb.retention.time=1h"
          ports:
            - name: http
              containerPort: 9090
              protocol: TCP
          volumeMounts:
            - name: config
              mountPath: /etc/prometheus
            - name: data
              mountPath: /prometheus
      volumes:
        - name: config
          configMap:
            name: {{ include "frontcache.fullname" . }}-prometheus
        - name: data
          emptyDir: {}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "frontcache.fullname" . }}-prometheus
  labels:
    {{- include "frontcache.labels" . | nindent 4 }}
    app.kubernetes.io/component: prometheus
spec:
  type: ClusterIP
  ports:
    - port: 9090
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "frontcache.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: prometheus
