apiVersion: v1
kind: Service
metadata:
  name: {{ include "frontcache.fullname" . }}-server
  labels:
    {{- include "frontcache.labels" . | nindent 4 }}
    app.kubernetes.io/component: server
spec:
  type: {{ .Values.server.service.type }}
  ports:
    - port: {{ .Values.server.service.port }}
      targetPort: grpc
      protocol: TCP
      name: grpc
  selector:
    {{- include "frontcache.serverSelectorLabels" . | nindent 4 }}
